<settings>
  <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
    <settingConfig type="alphaNumeric" readonly="true" />
  </setting>
  <setting propertyKey="@Properties.deviceId" title="@Strings.deviceIdTitle"
    prompt="@Strings.deviceIdPrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="@Properties.oauthCode" title="@Strings.oauthCodeTitle"
    prompt="@Strings.oauthCodePrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="@Properties.accessToken" title="@Strings.accessTokenTitle"
    prompt="@Strings.accessTokenPrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="@Properties.refreshToken" title="@Strings.refreshTokenTitle"
    prompt="@Strings.refreshTokenPrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
</settings>