<!--

   Distributed under MIT Licence
     See https://github.com/house-of-abbey/scratch_vhdl/blob/main/LICENCE.


   ThermoNest is a Garmin IQ application written in Monkey C and routinely tested on
   a Venu 2 device. The source code is provided at:
              https://github.com/house-of-abbey/GarminThermoNest.

   J D Abbey & P A Abbey, 28 December 2022


   References:
    * https://developer.garmin.com/connect-iq/core-topics/properties-and-app-settings/

-->

<settings>
  <setting
    propertyKey="@Properties.deviceId"
    title="@Strings.deviceIdTitle"
    prompt="@Strings.deviceIdPrompt"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.oauthCode"
    title="@Strings.oauthCodeTitle"
    prompt="@Strings.oauthCodePrompt"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.faceSelect"
    title="@Strings.faceTitle"
    prompt="@Strings.facePrompt"
  >
    <settingConfig type="list">
        <listEntry value="0">@Strings.ticksFace</listEntry>
        <listEntry value="1">@Strings.minimalFace</listEntry>
    </settingConfig>
  </setting>

  <group
    id="tokenGroup"
    title="@Strings.tokenGroupTitle"
  >

    <setting
      propertyKey="@Properties.accessToken"
      title="@Strings.accessTokenTitle"
      prompt="@Strings.appManagedPrompt"
    >
      <settingConfig
        type="alphaNumeric"
      />
    </setting>

    <setting
      propertyKey="@Properties.accessTokenExpire"
      title="@Strings.accessTokenExpireTitle"
      prompt="@Strings.appManagedPrompt"
    >
      <settingConfig
        type="numeric"
      />
    </setting>

    <setting
      propertyKey="@Properties.refreshToken"
      title="@Strings.refreshTokenTitle"
      prompt="@Strings.appManagedPrompt"
    >
      <settingConfig
        type="alphaNumeric"
      />
    </setting>

  </group>
</settings>
